{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="page-section bg-primary mb-0" id="color_palette_generator">
<div class="bg-color container-fluid px-4 pt-5">
    <h2 class="page-section-heading text-center text-uppercase">Image Color Palette Generator</h2>
    <p class="d-flex justify-content-center">アップロードされた画像より、上位10色からなるカラーパレットを作成します</p>
</div>
<div class="container my-3">
    <!-- uploader -->
    <form action="{% url 'color_palette'%}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="uploadOuter">
            <label for="uploadFile" class="btn btn-secondary">画像アップロード</label>
            <strong>または</strong>
            <span class="dragBox">
                画像をドラッグアンドドロップ
                <input type="file" name="image" onChange="dragNdrop(event)" ondragover="drag()" ondrop="drop()"
                    id="uploadFile" />
            </span>
        </div>
        <div id="preview" name="image2">
        </div>
        <!-- submit -->
        <div class="text-center my-2">
            <input type="submit" class="btn btn-primary btn-lg" value="カラーコード抽出">
        </div>
    </form>
    <!-- color palette table -->
    {% if hex %}
    <table class="table table-hover table-sm my-4 justify-content-center">
        <thead>
            <tr class="table-header-color">
                <th scope="col">#</th>
                <th scope="col">色</th>
                <th scope="col">カラーコード(Hex)</th>
                <th scope="col">利用割合(%)</th>
            </tr>
        </thead>
        <tbody>
            <!-- start for -->
            {% for i,value in hex.items %}
            <tr>
                <th scope="row">{{i}}</th>
                <td style="background-color:{{value.hex}}"></td>
                <td>
                    <div id="hexCode">{{value.hex}}</div>

                    <!-- The button used to copy the text -->

                    <span class="btn btn-sm copy-icon" onclick="copyFunction('{{value.hex}}')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-clipboard" viewBox="0 0 16 16">
                            <path
                                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                            <path
                                d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                        </svg></span>
                </td>
                <td>{{value.percentage}}</td>
            </tr>
            {%endfor%}
            {%endif%}
            <!-- endfor -->
        </tbody>
    </table>
</div>
</section>
{% endblock %}