{%load static%}

<header
  class="masthead text-center"
  style="
    background-image: url('https://images.unsplash.com/photo-1444419988131-046ed4e5ffd6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1150&q=80');
  "
>
  <div class="container-fluid px-4">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h2>Yakrk's fake furniture commerce</h2>
          <span class="subheading"
            >because my room is falling apart... orz</span
          >
        </div>
      </div>
    </div>
  </div>
</header>
