{% extends 'base.html' %} {% load static %} {% block content %}

{% include "partials/commerce_partials/_head.html" %}
{% include "partials/commerce_partials/_commerce_navbar.html" %}

<!-- Main Content -->
<section class="page-section bg-primary mb-0" id="commerce-top">
  <div class="container-fluid px-4">
    <div class="row d-flex flex-wrap justify-content-center justify-content-start">
      {% for category in product_categories %}
        <div class="card col-sm-12 col-md-6 col-lg-3 mb-4 mx-2" style="width: 16rem">
          <div class="card-body">
            <h5 class="card-title">{{category.category_name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <p class="card-text">{% if category.category_description %}{{category.category_description}}{%endif%}</p>
            <a href="{% url 'category_top' category.id %}" class="card-link stretched-link"></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{%endblock%}
