{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Page Header -->
<header class="masthead"
  style="background-image: url('https://images.unsplash.com/photo-1678125555346-e1bb474cbf05?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1100&q=80')">
  <div class="container-fluid px-4">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h2>Yakrk's Blog</h2>
          <span class="subheading">A collection of random musings.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<section class="page-section bg-primary mb-0 mt-2" id="blogs-top">
  <div class="container-fluid px-4">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in posts %}
        <div class="post-preview">
          <a href="{% url 'post' post.id %}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h4 class="post-subtitle">
              {{post.subtitle}}
            </h4>
          </a>
          <p class="post-meta">Posted by
            <a href="{% url 'index'%}#about">{{post.author}}</a>
            on {{post.created_date}}
          </p>
          <hr>
        </div>
        {% endfor %}
        <!-- pagination start -->
        {% if posts.has_other_pages %}
        <ul class="pagination">
          {% if posts.has_previous %}
          <li class="page-item">
            <a href="?page={{posts.previous_page_number}}" class="page-link">
              &laquo;
            </a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link">
              &laquo;
            </a>
          </li>
          {% endif %}
          {% for i in posts.paginator.page_range %}
          {% if posts.number == i %}
          <li class="page-item active">
            <a class="page-link">
              {{i}}
            </a>
          </li>
          {% else %}
          <li class="page-item">
            <a href="?page={{i}}" class="page-link">
              {{i}}
            </a>
          </li>
          {% endif %}
          {% endfor %}
          {% if posts.has_next %}
          <li class="page-item">
            <a href="?page={{posts.next_page_number}}" class="page-link">
              &raquo;
            </a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link">
              &raquo;
            </a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
        <!-- pagination end -->
      </div>

    </div>
  </div>
</section>
{%endblock%}