{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Page Header -->
<section class="page-section mb-0 mt-2" id="post">
  <div class="container-fluid px-4 pt-5">
      <a class="ms-sm-4 ms-lg-5 ms-xl-6" href="{%url 'blogs_top' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
        </svg>Return to Blog Top</a>
      <div class="row mt-4">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h2>{{post.title}}</h2>
          <h4 class="subheading">{{post.subtitle}}</h4>
          <span class="meta">Posted by
            <a href="{% url 'index' %}#about">{{post.author}}</a>
            on {{post.created_date}}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Post Content -->
  <article>
    <div class="container-fluid px-4 pt-5">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{post.body|safe}}
          <hr>
        </div>
      </div>
      <a class="ms-sm-4 ms-lg-5 ms-xl-6" href="{%url 'blogs_top' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
      </svg>Return to Blog Top</a>
    </div>

  </article>

  <hr>
</section>
{%endblock%}